#sidebar {
    padding: 20px;
}

#app-title {
    margin-bottom: 1rem;
    text-align: center;
}

.col-form-label-sm { padding-bottom: 0; }

#filters {
    border-bottom: 1px solid #eee;
    margin-bottom: 1rem;
}

#state-details table { font-size: 0.75rem; }

#data-attribution { font-size: 0.75rem; }
#data-attribution a { color: #212529; }

#vis { margin-top: 1rem; }

@media (min-width: 576px) {
    #sidebar {
        border-right: 1px solid #eee;
        bottom: 0;
        left: 0;
        overflow-x: hidden;
        overflow-y: auto;
        position: fixed;
        top: 0;
        z-index: 1000;
    }

    #app-title {
        margin-bottom: 3rem;
    }

    .col-form-label-sm { padding-bottom: calc(.25rem + 1px); }
}
